:root {
	--page-color: antiquewhite;
	--background-color: white;
	--text-color: black;
	--shadow-color: black;
}

* {
	box-sizing: border-box;
}

h1, h2 {
	line-height: 54px;
}

p {
	margin: 0px;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 10px;
	padding: 0px;
	justify-content: center;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
}

.grid {
	display: grid;
	align-items: center;
	gap: 10px;
}

.nowrap {
	flex-wrap: nowrap;
}

hr {
	width: 1px; 
	height: 100%; 
	border-left: 1px solid var(--text-color); 
	margin: 0px;
}

@media (max-width: 600px) {
	.mobile {
		display: block;
	}
	hr {
		width: 100%; 
		height: 1px; 
		border-top: 1px solid var(--text-color); 
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

body {
	min-height: 100vh;
	background-color: var(--background-color);
	padding: 20px;
}

.page {
	background-color: var(--page-color);
	color: var(--text-color);
	border-radius: 10px;
	max-width: 80ch;
	width: 80ch;
}

section {
	border-bottom: 1px solid var(--text-color);
	padding-top: 10px;
	padding-bottom: 10px;
}

section:last-child {
	border-bottom: none;
}

input, select {
	border: none;
	border-bottom: 1px dashed var(--text-color);
	background-color: var(--page-color);
	width: 100%;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
	min-width: 2ch;
}

input[type="checkbox"] {
	width: min-content;
}

label {
	display: flex;
	align-items: center;
	gap: 10px;
}

h1 {
	text-align: center;
}

.none {
	display: none;
}

.hidden {
	visibility: hidden;
}

.grow-wrap {
	display: grid;
}

@media (max-width: 600px) {
	.grow-wrap {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

.grow-wrap::after {
	content: attr(data-replicated-value) " ";
	white-space: pre-wrap;
	visibility: hidden;
}

.grow-wrap > textarea {
	resize: none;
	overflow: hidden;
}

.grow-wrap > textarea, .grow-wrap::after {
	border: 1px dashed black;
	padding: 0.5rem;
	font: inherit;
	background-color: var(--page-color);
	grid-area: 1 / 1 / 2 / 2;
}

output {
	min-width: 4ch;
}